---
import { Image } from "astro:assets";

const {imageSrc,  name, altText, link, loading} = Astro.props;
---

<a class="item" style="background-color: #C4B5FD;" href={link}>
    <Image class="fp-item-image" src={imageSrc} alt={altText} style=" height: 18rem; width:100%;" loading={loading}/>

    <div class="fp-item-text">{name}</div>
</a>

<style>
    .item 
    {
        text-decoration: none;
        width:18rem;
        height:20.5rem;
        background-color: #C4B5FD;
        color:#66329d;
        font-weight: 600;
        margin:1rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        &:hover
        {
            cursor:pointer;
            text-decoration:underline;
            opacity: 90%;
        }
      
    }
    .fp-item-image
    {
        height: 18rem;
        width:100%;
      
    }
    .fp-item-text
    {
        background-color: #C4B5FD; 
        padding:0.25rem 0 0rem 0;
      
    }
    
</style>