---
const {orientation,title, subtitle, year, text1, text2, image1} = Astro.props;
---
<section class ="project-row-container">
    <div class="project-row-image-container">
        <label>
            <input type="checkbox"/> 
            <img
                class="project-row-image"
                src={image1}
                alt=""
                loading="eager"
            />
        </label>
        
    </div>
    <div class="project-row-text-container">
        <h1 class="project-title" style="width:100%">
            {title}
        </h1>
        <i style=width:100%;>
            Year: {year}<br>{subtitle}
        </i>
        <p class="project-row-text">
            {text1}
        </p>
        {text2 !== "" && (
            <p class="project-row-text">{text2}</p>
        )}
    </div>
</section>

<style>

    .project-row-container
    {
        display: flex;
        justify-content: space-between;
        padding:2rem 0 2rem 0;
        width: 70rem;


    }
    .project-row-image-container
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        & >label>input[type=checkbox]
        {
            display:none;
            &:checked~img 
            {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(1.40); 
                cursor: zoom-out
            }
        }
    }
    .project-row-image
    {
        width:32.5rem;
        height: auto;
        padding: 1rem 0 1rem 0;
    }

    .project-row-text-container
    {

        font-size: 1.15rem;
        width:30rem;
        color:black;
        display:flex;
        align-items:center;
        flex-direction:column;
     

    }
    @media only screen and (max-width: 500px) {
        .project-row-container
        {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding:2rem 0 2rem 0;
            width: 60rem;


        }
        .project-row-image
        {
            width:30rem;
            height: auto;
            padding: 1rem 2rem; 1rem 0;
        }
        .project-row-text-container
        {
            width:100%;
            font-size: 2rems;
        }
        .project-row-image-container
        {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            cursor: zoom-in;
            & >label>input[type=checkbox]
            {
                display:none;
                &:checked~img 
                {
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(2); 
                    cursor: zoom-out
                }
            }
        }
    }
    
    
</style>
<script>

    document.addEventListener('DOMContentLoaded', ()=>{
        let chkBoxes = document.querySelectorAll("input[type=checkbox]")
        chkBoxes.forEach(input=>{
            input.addEventListener('click', ()=>{
                for(let i = 0; i < chkBoxes.length; i++)
                {
                    if(chkBoxes[i] != input && chkBoxes[i].checked==true)
                    {
                        chkBoxes[i].checked = false;
                        break;
                    }
                }
            })
        })
        document.addEventListener('click', ()=>{

        })
    })
    

</script>