---
import Header from '/src/components/Header.astro';
import MainLayout from '/src/layouts/MainLayout.astro';

import COMImageHead from '/src/assets/com-images/com-head.png'
import MonoOne from '/src/assets/com-images/1.jpg'
import MonoTwo from '/src/assets/com-images/2.jpg'
import LightsThree from '/src/assets/com-images/3.jpg'
import LightsFour from '/src/assets/com-images/4-1.jpg'
import PhotoFive from '/src/assets/com-images/5.jpg'
import PhotoSix from '/src/assets/com-images/6-1.jpg'
import { Image } from 'astro:assets';
---
<Header active="COMMISSIONS"/>
<MainLayout>

    <div class="commissions-head-container">
        <img class="commissions-head-image" src={COMImageHead.src}>
        <div class="commissions-head-text">
            COMMISSIONS
        </div>
    </div>
	<main class="commissions-main-container">
      <section>
        <h2 class="commissions-section-title">
            FORENSIC ART COMMISSIONS
        </h2>
        <div class= "commissions-section-text">
            <p>
                Forensic Art commissions are done on a case-by-case basis. If you reach out to me through my email taylorrenegade@outlook.com 
                I will go over details with you and how I can help. I am trained in the following applications of Forensic Art:
            </p>
            <ol>
                <li>Craniofacial Approximation</li>
                <li>Artificial Age Progression</li>
                <li>Composite Sketching (& Eyewitness Cognititve Interviewing)</li>
                <li>Postmortem Depiction</li>
                <li>Craniofacial Superimposition</li>
                <li>Facial Image Comparison</li>
            </ol>
            <br>
            Some examples are available on the Forensic Art section of this website, but additional examples are available upon request by email
            as some are not available for public viewing.
        </div>
      </section>
      <section>
        <h2 class="commissions-section-title">
            PORTRAIT COMMISSIONS
        </h2>
        <div class= "commissions-section-text">
            
            <p>
                I mostly make art of the human form, specifically portraiture, but I am open to commissions of all types. Below will be the different 
                rough price ranges for different sizes and colouring types of my alcohol marker portraits, as well as examples of each colour type. An 
                additional 20 - 40 CAD will be added for each additional person/face is added to the portrait, These prices are subject to change depending
                on the specific needs of the project.
            </p>
            <p>
                <i>7"x10" ALCOHOL MARKER PORTRAITS</i>
                <ul>
                    <li>Single Colour - 60 CAD</li>
                    <li>Multi Coloured Lights Effect  - 90 CAD</li>
                    <li>Photo Colour - 110 CAD</li>
                </ul>
            </p>
            <p>
                <i>9"x12" ALCOHOL MARKER PORTRAITS</i>
                <ul>
                    <li>Single Colour - 80 CAD</li>
                    <li>Multi Coloured Lights Effect  - 110 CAD</li>
                    <li>Photo Colour - 140 CAD</li>
                </ul>
            </p>
            <p>
                <i>12"x18" ALCOHOL MARKER PORTRAITS</i>
                <ul>
                    <li>Single Colour - 120 CAD</li>
                    <li>Multi Coloured Lights Effect  - 160 CAD</li>
                    <li>Photo Colour - 200 CAD</li>
                </ul>
            </p>

            <p>
                <h4>EXAMPLES</h4>
                <div class="commissions-image-section">
                    <div class="commissions-image-section-title">
                        Single Colour Portraits
                    </div>
                    <div class="commissions-image-section">
                        <img style="width:25rem" src={MonoOne.src}/>
                        <img style="width:12.5rem" class="commissions-image" src={MonoTwo.src}/>
                    </div>
                </div>
                <br>
                <div class="commissions-image-section">
                    <div class="commissions-image-section-title">
                        Multi-Coloured Lights Effect
                    </div>
                    <div class="commissions-image-section">
                        <img style="height:20rem" class="commissions-image" src={LightsFour.src}/>
                        <img style="height:20rem;" src={LightsThree.src}/>
 
                    </div>
                </div>
                <br>
                <div class="commissions-image-section">
                    <div class="commissions-image-section-title">
                        Photo Colour
                    </div>
                    <div class="commissions-image-section">
                        <img style="height:20rem" class="commissions-image" src={PhotoFive.src}/>
                        <img style="height:20rem;" src={PhotoSix.src}/>
                    </div>
                </div>
            </p>
        </div>
      </section>
      <section>
        <h2 class="commissions-section-title">
            OTHER ART COMMISSIONS
        </h2>
        <div class= "commissions-section-text">
            <p>
                I am also open to commissions of other types, email me your vision and I will get back to you for a price quote if it's a 
                project I feel comfortable taking on! 
                <br>*I do not feel comfortable doing tattoo design commissions, 
                but can point you in the direction of one of my talented friends!*                
            </p>
        
        </div>
      </section>
	</main>
	
</MainLayout>

<style>

.commissions-head-container
 {
	width:59.5rem;
	height: auto;
	position:relative;

    margin:2rem 0 0rem 0;

 }
 
 .commissions-head-image
 {
	filter: brightness(40%);
	width:100%;
	height: auto;
 }
 .commissions-head-text
 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 3.5rem;
	text-decoration: none;
	font-weight: bolder;
	font-family: "Roboto", serif;
        font-optical-sizing: auto;
        font-weight: 700;
 }

    .commissions-section-title
    {

        text-align: center; 

    }
    .commissions-main-container
    {

        width: 59rem;
        display: grid;
        box-sizing: border-box;
        padding:0 0 2rem 0;
       
   
    }
 
    .commissions-section-text ol
    {
        list-style-type: none;
        padding:0;
        font-style: italic;
        margin:0;
        &>li
        {
            padding:0;
            margin:0;
        }
    }
    @media only screen and (max-width: 500px) {
        .commissions-head-container
        {
            width:100%;
        }
        .commissions-head-text
        {
            font-size: 4rem;
        }
        .commissions-main-container
        {
            width: 100%;
      
            box-sizing: border-box;
        }
        .commissions-section-title
        {
            font-size: 2.5rem;
        }
        .commissions-section-text
        {
            font-size: 2rem;
            margin: 0 2rem 0 2rem;
            
        }
    }

   
</style>