---
import ProjectItem from '/src/components/projects/ProjectItem.astro';
import Header from '/src/components/Header.astro';
import MainLayout from '/src/layouts/MainLayout.astro';
import OWImage00 from "/src/assets/ow-images/ow-00/ow-00-tile.jpg"
import OWImage01 from "/src/assets/ow-images/ow-01/ow-01-tile.jpg"
import OWImage02 from "/src/assets/ow-images/ow-02/ow-02-tile.jpg"
import OWImage03 from "/src/assets/ow-images/ow-03/ow-03-tile.jpg"
import OWImage04 from "/src/assets/ow-images/ow-04/tile.jpg"
import OWImage05 from "/src/assets/ow-images/ow-05/ow-05-tile.jpg"
import OWImage06 from "/src/assets/ow-images/ow-06/ow-06-tile.jpg"
import OWImage07 from "/src/assets/ow-images/ow-07/ow-07-tile.jpg"
import OWImageHead from '/src/assets/ow-images/ow-head.jpg'
import { Image } from 'astro:assets';
---
<Header active="OTHER WORKS"/>
<MainLayout>

    <div class="other-works-head-container">
        <Image alt="Collage of various artwork containing text 'Other Work' as the title." src={OWImageHead} class="other-works-head-image" loading="eager" />
        <h1 class="other-works-head-text">
            OTHER WORKS
        </h1>
    </div>
    <div class="other-works-text">
        This page showcases a selection of my artistic works beyond forensic art, including pieces created during my undergraduate studies in Life Studies. 
        My work explores human anatomy and experience with expressive compositions through various mediums and techniques. 
    </div>
	<main class="other-works-container">
        <ProjectItem
            imageSrc = {OWImage00} 
            name="Amensalism"
            altText="An image of Taylor alongside her dissertation work"
            link="/other-works/ow-00"
            loading="eager"
        />  
        <ProjectItem
            imageSrc = {OWImage01} 
            name="Ecorche"
            altText="An image of Taylor alongside her dissertation work"
            link="/other-works/ow-01"
            loading="eager"
        />  
        <ProjectItem
            imageSrc = {OWImage02} 
            name="Collection of Portraits"
            altText="An image containing an illustrated woman approximated from a skull of a woman from Leith, Edinburgh"
            link="/other-works/ow-02"
            loading="eager"
        />  
        <ProjectItem
            imageSrc = {OWImage03} 
            name="Chemical Existence"
            altText="An image containing an illustrated woman approximated from a skull of a woman from Leith, Edinburgh"
            link="/other-works/ow-03"
            loading="lazy"
        /> 
        <ProjectItem
            imageSrc = {OWImage04} 
            name="Memories That Breathe"
            altText="An image containing an illustrated woman approximated from a skull of a woman from Leith, Edinburgh"
            link="/other-works/ow-04"
            loading="lazy"
        /> 
        <ProjectItem
            imageSrc = {OWImage05} 
            name="After"
            altText="An image containing an illustrated woman approximated from a skull of a woman from Leith, Edinburgh"
            link="/other-works/ow-05"
            loading="lazy"
            /> 
        <ProjectItem
            imageSrc = {OWImage06} 
            name="A Collection of Life Drawings"
            altText="An image containing an illustrated woman approximated from a skull of a woman from Leith, Edinburgh"
            link="/other-works/ow-06"
            loading="lazy"
            /> 
        <ProjectItem
            imageSrc = {OWImage07} 
            name="They Both Die at The End"
            altText="An image containing an illustrated woman approximated from a skull of a woman from Leith, Edinburgh"
            link="/other-works/ow-07"
            loading="lazy"
            /> 
      
	</main>
	
</MainLayout>

<style>

.other-works-head-container
 {
	width:59.5rem;
	height: auto;
	position:relative;

    margin:2rem 0 1rem 0;

 }
 
 .other-works-head-image
 {
	filter: brightness(40%);
	width:100%;
	height: auto;
 }
 .other-works-head-text
 {
	position: absolute;

	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 3.5rem;
	text-decoration: none;
	font-weight: bolder;
	font-family: "Roboto", serif;
        font-optical-sizing: auto;
        font-weight: 700;
 }

   
    .other-works-text
    {
        width:59.5rem; 
        text-align: center; 
        padding-bottom:2rem;
    }
    .other-works-container
    {
        text-align: center;
        width: 65rem;
        padding:2rem 1rem 2rem 1rem;
        display: grid;
        box-sizing: border-box;
        grid-template-columns: repeat(3, 1fr); 
       
   
    }
 
    @media only screen and (max-width: 500px) 
    {
        
        .other-works-title
        {
            padding-top:1rem;
            text-align: center; 

        }
        .other-works-head-container
        {
            width:100%;
            height: auto;
            position:relative;

            margin:2rem 0 1rem 0;
        }
        .other-works-head-text
        {
            font-size: 4rem;;
        }
        .other-works-text
        {
            width:100%;
            font-size:2rem;
            padding:0 0.75rem 0 0.75rem;
            box-sizing: border-box;

        }
        .other-works-container
        {
            text-align: center;
            width: 100%;
            padding:2rem 1rem 2rem 1rem;
            display: inline-grid;
            box-sizing: border-box;
            grid-template-columns: repeat(1, 1fr); 
            justify-items: center;
        
    
        }
 
    }

</style>